[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
intercalate = "python intercalate.py"

[packages]
pdfrw = "*"

[dev-packages]

[requires]
python_version = "3.10"
